 <footer class="pt-2 my-md-4 pt-md-3 border-top">
       <div class="float-left">
        <img class="mb-2" src="<%= asset_path("loen.png") %>" alt="" width="130" height="60">
        <small class="d-block mb-3 text-muted">&copy; 2020</small>
      </div>
  <p class="float-right"><a href="#">Back to top</a></p>
</footer>

