  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="go-root" class="navbar-brand" href="/"><img src="<%= asset_path("loen.png") %>" class="logo" alt="..."></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <div class="collapse navbar-collapse justify-content-end" id="navbarnavaltmarkup"
        navbarNavAltMarkup="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a id="go-cosmetics" class="nav-link active text-danger" href="/cosmetics">ショッピング</a>
          <a class="nav-link active" href="/sales">期間限定セール</a>
          <a class="nav-link active" href="/blogs">ビューティコラム</a>
          <a class="nav-link active" href="/news">お知らせ</a>
          <%# ログインしているユーザが見れる部分  %>
          <% if user_signed_in? %>
          <a class="nav-item nav-link" href="/carts">
            <%= icon('fas', 'shopping-cart') %>
          </a>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <%= current_user.email %></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/mypage">マイページ</a>
              <% if current_user.email == 'admin@example.com' %>
              <a class="dropdown-item text-danger" href="/admin">管理者ページ</a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/sign_out" data-method="delete">ログアウト</a>
            </div>
          </div>

          <%# ログインしてないユーザが見れる部分  %>
          <% else %>

          <button class="btn btn-secondary my-2 my-sm-0 mr-2 ml-2"
            onclick="location.href='/users/sign_in' ">ログイン</button>
          <button type="button" class="btn btn-danger" onclick="location.href='/users/sign_up' ">会員加入</button>

          <% end %>

        </div>
      </div>

  </nav>
  <div class="text-right mr-3">❗️ テスト用のアカウント(管理者) ID : <strong>admin@example.com</strong> <br> PASSWORD :
    <strong>password</strong>

  </div>
  <script>
    document.getElementById("go-root").onclick = function () {
      location.href = "/";
    };
    document.getElementById("go-cosmetics").onclick = function () {
      location.href = "/cosmetics";
    };
  </script>