$am-theme-primary: #124eb6dd;
@import 'activeadmin_addons/all';
@import "active_material";

.small_img {
    max-width: 130px;
}

.col-title {
    width: 20%;
}

.col-id {
    width: 10%;
}

a:link,
a:visited {
    color: #00102de7;
}

.menu_item {
    font-weight: bold !important;
}

#q_blob_id {
    width: 80%;
}

#q_image_blob_ids {
    width: 80%;
}

.col-tag {
    width: 6%;
}