@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";
@import 'activeadmin_addons/all';

.small_img {
    max-height: 200px !important;
}

.col-title {
    width: 20%;
}

.col-id {
    width: 10%;
}

.menu_item {
    font-weight: bold !important;
}

#q_blob_id {
    width: 80%;
}

#q_image_blob_ids {
    width: 80%;
}

.col-tag {
    width: 6%;
}

.cke_chrome {
    width: 79.5% !important;
    overflow: hidden;
}